[submodule "MediaServerManager/ThirdParty/json"]
	path = MediaServerManager/ThirdParty/json
	url = https://github.com/nlohmann/json
[submodule "MediaServerManager/ThirdParty/worLibrary"]
	path = MediaServerManager/ThirdParty/worLibrary
	url = https://github.com/WorHyako/worLibrary
